body{
    background: #EFEFEF;
}
a{
    text-decoration: none;
    color: inherit;
}
*{
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}
hr{
    border: none;
    height: 0;
    border-top: 1px solid #DEDEDE;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.topNavBar-inner{
    padding: 0 16px;
}
.topNavBar{
    padding: 24px 0;
    position: fixed;
    width: 100%;
}
.topNavBar .logo{
    float: left;
    font-size: 24px;
    font-weight: bold;
    padding-top: 2px;
}
.topNavBar .logo .rs{
    color: #E8676B;
    margin-right: 4px;
}
.topNavBar .logo .card{
    color: #9A9DA2;
}
.topNavBar nav{
    float: right;
    padding-top: 3px;
    padding-bottom: 2px;
}
.topNavBar nav>ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.topNavBar nav>ul>li{
    float: left;
    margin-left: 17px;
    margin-right: 17px;
}
.topNavBar nav>ul>li>a{
    font-size: 12px;
    color: #CCCED1;
    padding: 7px 0;
    border-bottom: solid 3px transparent;
    border-top: solid 3px transparent;
    font-weight:bold;
    display: block;
}
.topNavBar nav>ul>li>a:hover{
    border-bottom: solid 3px #E8676B;
}
.banner{
    background: url("./img/rs-cover.jpg");
    height: 515px;
    background-size: cover;
    background-position: center center;
}
.banner .mask{
    height: 515px;
    background-color: rgba(0,0,0,0.8);
}
main{

    margin-top: -345px;
}
.userCard{
    background: white;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}
.userCard .pictureAndtext{
    padding: 55px 50px 40px;
}
.userCard .picture{
    float: left;
}
.userCard .text{
    float: left;
    margin-left: 65px;
    width: 470px;
}
.userCard .text h1{
    margin-bottom: 8px;
}
.userCard .text hr{
    margin: 20px 0;
}
.userCard .text .welcome{
    display: inline-block;
    background: #E8676B;
    color: white;
    padding: 4px 13px;
    line-height: 22px;
    position: relative;
    margin-bottom: 26px;
}
.userCard .text .welcome .triangle{
    display: block;
    border: 8px solid transparent;
    height: 0;
    border-left-color:#E8676B;
    border-top-width: 0;
    position: absolute;
    top: 100%;
    left: 6px;
}
.userCard dl dt,
.userCard dl dd{
    float: left;
    padding: 6px 0;
}
.userCard dl dt{
    width: 30%;
    font-weight: bold;
}
.userCard dl dd{
    width: 70%;
    color: #9da0a7;
}
.userCard>footer.media{
    background-color: #E8676B;
    text-align: center;
}
.userCard>footer.media a{
    display: inline-block;
    border-radius: 50%;
    line-height: 25px;
    width: 45px;
    padding: 10px 0;
    margin: 20px 16px;
}
.userCard>footer.media a:hover{
    background: #D05C60;
}
.userCard>footer svg{
    width: 25px;
    height: 25px;
    fill: white;
    vertical-align: top;
}
